* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 429px;
    overflow: hidden;
    margin: 0;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 917px;
    margin-top: 15%;
  }

.square {
    width: 16px;
    height: 16px;
    background-color: #3C3C3C;
    margin: 2px;
    box-shadow: 0 0 2px #282828;
    transition: 2s ease;
  } 

  .square:hover {
    transition-duration: 0s;
  }